body {
    background-color: #F8FAFE;
    height: 0 auto;
}

.modal-header, h4, .close {
    background-color: cyan;
    color: white;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

#myBtn2 {
    background-color: #fb0d58;
    border-color: #fb0d58;
}

.navbar-fixed-top {
    margin-left: 30%;
    opacity: .7;
}

#logo{
    position: fixed;
}

.neonatal{
    margin-left:50%
}

.btn-default{
    transition: background 1s ease,
        padding 0.8s linear;
}

.btn-default:hover{
    background: pink;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 25%;
  min-height: 25%;
  opacity:.1
}