@{
    ViewBag.Title = "Home Page";
}
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="neonatal" style="margin-left:50%">
                <img src="~/Content/neonatal.svg" class="neonatallogo" id="logo" style="position:fixed;" />
            </div>
                <div class="col-md-6 col-sm-6" style="position:relative;margin-left:80%;margin-top:80%;background-position:75px;opacity:.7">
                        <a href="Account/Login" button type="button" class="btn btn-default btn-lg" id="myBtn">Login</a>
                        <a href="Account/Register" button type="button" class="btn btn-primary btn-lg" id="myBtn1">Register</a>
                </div>
            </div>
        </div>
    </div>

