@model Neonatal_App.Models.Client


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<link href="~/Content/custom.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<div class="modal fade" id="myModal" role="dialog">
    <section id="loginForm">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><i class="fa fa-child"></i> Register Client</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="frstnm"><i class="fa fa-heartbeat"></i>  First Name</label>
                            <input type="text" class="form-control" id="frstnm" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="lstnm"><i class="fa fa-heartbeat"></i>  Last Name</label>
                            <input type="text" class="form-control" id="lstnm" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="dob"><i class="fa fa-heartbeat"></i>  Date of Birth</label>
                            <input type="text" class="form-control" id="dob" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="race"><i class="fa fa-heartbeat"></i>  Ethnicity</label>
                            <input type="text" class="form-control" id="race" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="adrs"><i class="fa fa-heartbeat"></i>  Street Number</label>
                            <input type="text" class="form-control" id="adrs" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="strtnm"><i class="fa fa-heartbeat"></i>  Street Name</label>
                            <input type="text" class="form-control" id="strtnm" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="cty"><i class="fa fa-heartbeat"></i>  City</label>
                            <input type="text" class="form-control" id="cty" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="zpcd"><i class="fa fa-heartbeat"></i>  Zip Code</label>
                            <input type="text" class="form-control" id="zpcd" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="cnty"><i class="fa fa-heartbeat"></i>  County</label>
                            <input type="text" class="form-control" id="cnty" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="wrd"><i class="fa fa-heartbeat"></i>  Ward</label>
                            <input type="text" class="form-control" id="wrd" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="phnnmbr"><i class="fa fa-heartbeat"></i>  Phone Number</label>
                            <input type="text" class="form-control" id="phnnmbr" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="eml"><i class="fa fa-heartbeat"></i>  Email</label>
                            <input type="text" class="form-control" id="eml" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="hw"><i class="fa fa-heartbeat"></i>  Healthworker Username/Email</label>
                            <input type="text" class="form-control" id="hw" placeholder="">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" style="background-color:#25b8dc"><span class="glyphicon glyphicon-off"></span> Add Patient</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>
<script>
    $(document).ready(function () {
        //$("#myBtn").click(function () {
            $("#myModal").modal();
       // });
    });

</script>
