@model Neonatal_App.Models.Client


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<link href="~/Content/custom.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<div class="modal fade" id="myModal" role="dialog">
    <section id="loginForm">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>Register Client</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="frstnm"><span class="glyphicon glyphicon-plus-sign"></span> First Name</label>
                            <input type="text" class="form-control" id="frstnm" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="lstnm"><span class="glyphicon glyphicon-heart"></span> Last Name</label>
                            <input type="text" class="form-control" id="lstnm" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="dob"><span class="glyphicon glyphicon-heart"></span> Date of Birth</label>
                            <input type="text" class="form-control" id="dob" placeholder="Date of Birth">
                        </div>
                        <div class="form-group">
                            <label for="race"><span class="glyphicon glyphicon-heart"></span>Ethnicity</label>
                            <input type="text" class="form-control" id="race" placeholder="Ethnicity">
                        </div>
                        <div class="form-group">
                            <label for="adrs"><span class="glyphicon glyphicon-heart"></span>Street Number</label>
                            <input type="text" class="form-control" id="adrs" placeholder="Street Number">
                        </div>
                        <div class="form-group">
                            <label for="strtnm"><span class="glyphicon glyphicon-heart"></span>Street Name</label>
                            <input type="text" class="form-control" id="strtnm" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="cty"><span class="glyphicon glyphicon-heart"></span>City</label>
                            <input type="text" class="form-control" id="cty" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="zpcd"><span class="glyphicon glyphicon-heart"></span>Zip Code</label>
                            <input type="text" class="form-control" id="zpcd" placeholder="Zip Code">
                        </div>
                        <div class="form-group">
                            <label for="cnty"><span class="glyphicon glyphicon-heart"></span>County</label>
                            <input type="text" class="form-control" id="cnty" placeholder="County">
                        </div>
                        <div class="form-group">
                            <label for="wrd"><span class="glyphicon glyphicon-heart"></span>Ward</label>
                            <input type="text" class="form-control" id="wrd" placeholder="Ward">
                        </div>
                        <div class="form-group">
                            <label for="phnnmbr"><span class="glyphicon glyphicon-heart"></span>Phone Number</label>
                            <input type="text" class="form-control" id="phnnmbr" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="eml"><span class="glyphicon glyphicon-heart"></span>Email</label>
                            <input type="text" class="form-control" id="eml" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="hw"><span class="glyphicon glyphicon-heart"></span>Healthworker Username/Email</label>
                            <input type="text" class="form-control" id="hw" placeholder="Healthworker Username/Email">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" style="background-color:#25b8dc"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>
<script>
    $(document).ready(function () {
        //$("#myBtn").click(function () {
            $("#myModal").modal();
       // });
    });

</script>
