@model Neonatal_App.Models.Survey

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/themes/base/css")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/custom.css")

<!--begin form-->

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><b>Start Survey</b> <span class="glyphicon glyphicon-ok"></span> </h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">


                        <div id="submit">
                            <br>
                            <input type="submit" class="btn btn-danger btn-default pull-left" style="background-color:#25b8dc" value="Submit Answers">
                        </div>
                        </div>
                    </div>
                    </div>


                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
                    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>*@

                    <script>
                        $(document).ready(function () {
                            //$("#myBtn").click(function(){
                            $("#myModal2").modal();
                            //});
                        });

                    </script>
                    }
