@model Neonatal_App.Models.Survey

@{
    ViewBag.Title = "RiskScore";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <h2>RiskScore</h2>

    <div class="risk-score-container">
        <p>Show risk score graphic/calculation here.</p>
    </div>
    <!--begin table-->
    <table>
        <caption>Risk Scores for each survey</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Risk Score</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">@Html.ActionLink("Go Back", "Index", "Clients")</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => modelItem.Client.first_name)
                    @Html.DisplayFor(modelItem => modelItem.Client.last_name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.risk_score)
                </td>
            </tr>
        </tbody>
    </table>
    <!--end table-->
</body>
</html>



